﻿
@{
    ViewBag.Title = "Home";
}

<h2>Example MVC order system</h2>

<p>The application uses a .NET Core Web API as a data source to populate a simple order system.</p>
<p>Click the 'Your Orders' link above to be taken to the order list.</p>
<p>The order is list is populated by an Ajax call to the server and is rendered in an accordion layout which can be expanded to show the details of the order.</p>