﻿
@{
    ViewBag.Title = "Current Orders";
}

<h2>Your orders</h2>
<p>Click on an order to expand it and see the details of the items on it.</p>
<hr class="uk-divider-icon">
<ul uk-accordion id="orders-holder">
</ul>

@section Scripts {

<script>
    $(document).ready(function () {
        $OrderSystem.loadOrders();
    });
</script>
    
}
